app/cache/**
app/logs/**
app/config/parameters.yml
app/bootstrap.php.cache
vendor/**
web/bundle/**

app/config/config.yml

src/Backend/AdminBundle/Resources/config/validation.yml

web/uploads/categorias/945d63544c088aad92691cac69a18e5541459598.png

web/uploads/productos/418f8f8ac63c6a9e3203015ff241e1fbb57d6d3e.jpeg

web/uploads/productos/5d6871abc8cc3bacf0210710f5bd75babebe4bc8.jpeg

web/uploads/productos/fa595dbbab1912a40f1e7ec780257b3402df037a.png

app/config/config.yml

src/Backend/UserBundle/DataFixtures/ORM/LoadSeteoData.php

web/js/tinymce/tinymce.min.js

web/js/tinymce/themes/modern/theme.min.js

web/js/tinymce/skins/lightgray/skin.min.css

web/js/tinymce/skins/lightgray/skin.ie7.min.css

web/js/tinymce/skins/lightgray/img/trans.gif

web/js/tinymce/skins/lightgray/img/object.gif

web/js/tinymce/skins/lightgray/img/loader.gif

web/js/tinymce/skins/lightgray/img/anchor.gif

web/js/tinymce/skins/lightgray/fonts/tinymce.woff

web/js/tinymce/skins/lightgray/fonts/tinymce.ttf

web/js/tinymce/skins/lightgray/fonts/tinymce.svg

web/js/tinymce/skins/lightgray/fonts/tinymce.eot

web/js/tinymce/skins/lightgray/fonts/tinymce-small.woff

web/js/tinymce/skins/lightgray/fonts/tinymce-small.ttf

web/js/tinymce/skins/lightgray/fonts/tinymce-small.svg

web/js/tinymce/skins/lightgray/fonts/tinymce-small.eot

web/js/tinymce/skins/lightgray/content.min.css

web/js/tinymce/skins/lightgray/content.inline.min.css

web/js/tinymce/plugins/wordcount/plugin.min.js

web/js/tinymce/plugins/visualchars/plugin.min.js

web/js/tinymce/plugins/visualblocks/plugin.min.js

web/js/tinymce/plugins/visualblocks/css/visualblocks.css

web/js/tinymce/plugins/textpattern/plugin.min.js

web/js/tinymce/plugins/textcolor/plugin.min.js

web/js/tinymce/plugins/template/plugin.min.js

web/js/tinymce/plugins/table/plugin.min.js

web/js/tinymce/plugins/tabfocus/plugin.min.js

web/js/tinymce/plugins/spellchecker/plugin.min.js

web/js/tinymce/plugins/searchreplace/plugin.min.js

web/js/tinymce/plugins/save/plugin.min.js

web/js/tinymce/plugins/print/plugin.min.js

web/js/tinymce/plugins/preview/plugin.min.js

web/js/tinymce/plugins/paste/plugin.min.js

web/js/tinymce/plugins/pagebreak/plugin.min.js

web/js/tinymce/plugins/noneditable/plugin.min.js

web/js/tinymce/plugins/nonbreaking/plugin.min.js

web/js/tinymce/plugins/media/plugin.min.js

web/js/tinymce/plugins/media/moxieplayer.swf

web/js/tinymce/plugins/lists/plugin.min.js

web/js/tinymce/plugins/link/plugin.min.js

web/js/tinymce/plugins/legacyoutput/plugin.min.js

web/js/tinymce/plugins/layer/plugin.min.js

web/js/tinymce/plugins/insertdatetime/plugin.min.js

web/js/tinymce/plugins/importcss/plugin.min.js

web/js/tinymce/plugins/imagetools/plugin.min.js

web/js/tinymce/plugins/image/plugin.min.js

web/js/tinymce/plugins/hr/plugin.min.js

web/js/tinymce/plugins/fullscreen/plugin.min.js

web/js/tinymce/plugins/fullpage/plugin.min.js

web/js/tinymce/plugins/example/plugin.min.js

web/js/tinymce/plugins/example/dialog.html

web/js/tinymce/plugins/example_dependency/plugin.min.js

web/js/tinymce/plugins/emoticons/plugin.min.js

web/js/tinymce/plugins/emoticons/img/smiley-yell.gif

web/js/tinymce/plugins/emoticons/img/smiley-wink.gif

web/js/tinymce/langs/es.js

web/js/tinymce/langs/readme.md

web/js/tinymce/license.txt

web/js/tinymce/plugins/advlist/plugin.min.js

web/js/tinymce/plugins/anchor/plugin.min.js

web/js/tinymce/plugins/autolink/plugin.min.js

web/js/tinymce/plugins/autoresize/plugin.min.js

web/js/tinymce/plugins/autosave/plugin.min.js

web/js/tinymce/plugins/bbcode/plugin.min.js

web/js/tinymce/plugins/charmap/plugin.min.js

web/js/tinymce/plugins/code/plugin.min.js

web/js/tinymce/plugins/colorpicker/plugin.min.js

web/js/tinymce/plugins/contextmenu/plugin.min.js

web/js/tinymce/plugins/directionality/plugin.min.js

web/js/tinymce/plugins/emoticons/img/smiley-cool.gif

web/js/tinymce/plugins/emoticons/img/smiley-cry.gif

web/js/tinymce/plugins/emoticons/img/smiley-embarassed.gif

web/js/tinymce/plugins/emoticons/img/smiley-frown.gif

web/js/tinymce/plugins/emoticons/img/smiley-foot-in-mouth.gif

web/js/tinymce/plugins/emoticons/img/smiley-innocent.gif

web/js/tinymce/plugins/emoticons/img/smiley-kiss.gif

web/js/tinymce/plugins/emoticons/img/smiley-laughing.gif

*.gif

app/Resources/views/front/footer_old.html.twig

app/Resources/views/front/header_old.html.twig

app/bootstrap.php.cache

app/config/config.yml

app/config/security.yml
