{% extends '::customer/backend.html.twig' %}

{% block container -%}
    <h3>Edición de Productos</h3>
    
    
    
    
    <div class="well">
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home" style="text-align: center;">
    
         <p>Se ha subido el archivo de productos. Ahora espere mientras se procesa.</p>
         <img src="{{ asset('img/loading.gif')}}" alt="loading" id="loading">
         <p id="finalizo" style="display:none;">FINALIZO EL PROCESO DE EDICIÓN</p>
         <div id="js-errores">
         </div>
    </div>
    
    </div>
     </div>
    
 

    
{% endblock %}
{% block javascripts %}
  {{ parent() }}
<script>
   
      
     function procesar(row){
          
         
          var url = "{{ path('producto_edicion') }}";
          var datastring = "filename={{filename}}&row="+row;
          $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                data: datastring
                
        }).done(function(data){
            $("#js-errores").append(data.error);
            if (data.row > data.total){
                
                $("#loading").hide();
                $("#finalizo").show();
                
            }else{
                console.log("continua "+data.row+"total es"+data.total);
                
                procesar(data.row);
            }

        });
    }

$(document).ready(function(){
         procesar(2); //arranca en la fila 2 porque la uno es el titulo siempre!!
   });
</script>

{% endblock %}