customer_show:
    pattern:  /{id}/show
    defaults: { _controller: "BackendCustomerBundle:Customer:show" }

customer_new:
    pattern:  /new_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:new" }

customer_create:
    pattern:  /create_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:create" }
    requirements: { _method: post }

customer_edit:
    pattern:  /{id}/edit_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:edit" }

customer_update:
    pattern:  /{id}/update_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:update" }
    requirements: { _method: post|put }

customer_delete:
    pattern:  /{id}/delete_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:delete" }
    requirements: { _method: get|post|delete }

customer_list_sucursales:
    pattern:  /{id}/list_sucursales_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:listSucursales" }

customer_habilitar:
    pattern:  /habilitar_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:changeActive" }

customer_extra:
    pattern:  /extra_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:changeExtra" }

    
customer_validar:
    pattern:  /validar_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:changeStatus" }
    
customer_premium:
    pattern:  /premium_customer
    defaults: { _controller: "BackendCustomerBundle:Customer:changePremium" }
    
customer:
    pattern:  /{search}
    defaults: { _controller: "BackendCustomerBundle:Customer:index", search: '' }

customer_front_login:
    pattern:  /login/frontlogin
    defaults: { _controller: "BackendCustomerBundle:Customer:login" }
    