{% extends '::front/base_front.html.twig' %}

{% block container %}

<input type="hidden" name="check" id="check" value="{{ path('frontend_checkbarrio') }}">
	<section>
		<div class="container">
			<div class="row">
					
					<div class="privacidad"><!--recommended_items-->
						<h2 class="privacidad text-center">Políticas de Privacidad de Zona Delivery</h2>
						<p>
						Zona Delivery es consciente de la importancia que para usted supone el uso que hacemos de su información personal y el modo en que la compartimos. Apreciamos la confianza que deposita en nosotros para que la tratemos con el debido rigor y precaución. Este aviso detalla la política de privacidad de Zona Delivery. Al visitar www.zonadelivery.com, usted acepta y consiente las prácticas descritas en las presentes Politicas de Privacidad.
						
						</p>
          
          	<div class="col-sm-12 ">
                    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="faqs panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="faqs">Responsables de la Información Personal</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p class="faqs">Toda información personal que facilite o se recoja a través de Zona Delivery será tratada principalmente por Zona Delivery, es el responsable del tratamiento. Las cuatro sociedades mencionadas tienen su domicilio social en Capital Federal, Argentina.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="faqs panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">¿Qué datos personales de sus clientes recopila Zona Delivery?
</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>La información personal que recabamos de nuestros clientes nos ayuda a personalizar y mejorar continuamente sus compras en Zona Delivery. En general, utilizamos la información para gestionar pedidos, entregar productos y ofrecer servicios, procesar pagos, ponernos en contacto con usted en relación con pedidos, productos, servicios y ofertas promocionales, actualizar nuestros registros, realizar el mantenimiento de su cuenta en Zona Delivery, mostrar contenidos como las listas de deseos y opiniones de los clientes y para recomendar productos y servicios que pudieran serle de interés. También hacemos uso de esta información para mejorar nuestra tienda y nuestra plataforma, así como para prevenir o detectar fraudes o abusos en nuestro sitio web, y para permitir a terceras partes llevar a cabo soporte técnico, logístico u otras funciones en nuestro nombre.
					</p>
					<p> Estos son los tipos de información que recopilamos:</p>
					<p>
					<b>Información que usted nos facilita:</b> Recibimos y almacenamos toda la información que usted introduce en nuestra página web o que nos facilita de cualquier otro modo. Puede elegir no facilitar cierta información, pero si así lo hace, no podrá disfrutar de muchas de las funciones que le ofrecemos. La información que usted nos facilita nos es útil para responder a sus peticiones, personalizar futuras compras que vaya a realizar, mejorar nuestras tiendas y ponernos en contacto con usted.
					</p>
					<p>
					 <b>Información automática:</b> Cada vez que usted interactúa con nosotros, recibimos y almacenamos ciertos tipos de información. Por ejemplo, al igual que hacen muchas otras páginas web, utilizamos cookies para recabar cierta información cuando su navegador de Internet accede a Zona Delivery o a publicidad u otros tipos de contenidos que le son ofrecidos por parte de o en nombre de Zona Delivery en otras páginas web.
					</p>
					<p>	
				    <b>Móvil:</b> Cuando usted descarga o usa aplicaciones (apps) creadas por Zona Delivery o sus filiales y solicita o consiente servicios de localización, cuando corresponda, podremos recibir información sobre su localización y sobre su dispositivo móvil, incluyendo un identificador único del mismo. Podremos utilizar dicha información para proporcionarle servicios basados en su localización como, por ejemplo, resultados de búsqueda y otro contenido personalizado. La mayoría de dispositivos móviles le permiten desactivar dichos servicios de localización. Haga clic aquí para obtener más información sobre cómo hacerlo.
					</p>
					<p>	
					<b>Comunicaciones por correo electrónico:</b> Para ayudarnos a hacer que los correos electrónicos que enviamos sean más útiles e interesantes, habitualmente recibimos una confirmación cuando usted abre un correo electrónico que le ha enviado Zona Delivery, en el caso de que su ordenador soporte este tipo de tareas. Además, en un esfuerzo por evitar el envío innecesario de mensajes a nuestros clientes, comparamos nuestras listas de clientes con las que recibimos de otras sociedades. Si no desea recibir más correos electrónicos ni notificaciones de Zona Delivery, le rogamos que ajuste sus suscripciones de e-mail y preferencias de notificación accediendo a Mi cuenta.
					</p>
					
				  <p><b>Información recabada de otras fuentes:</b> Es posible que recibamos información sobre usted de otras fuentes, y la añadamos a nuestra información de cuenta.</p>

					<p><b>Información sobre las Cookies:</b> Utilizamos cookies a fin de permitir a nuestros sistemas reconocer su dispositivo y de poder prestarle nuestros servicios. Para obtener más información acerca de las cookies y de cómo las utilizamos, por favor lea nuestra política de Cookies y publicidad en Internet.
					
					</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="faqs panel-heading">
                <h4 class="faqs panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">¿Comparte Zona Delivery la información que recaba?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>La información relativa a nuestros clientes es una parte fundamental de nuestro negocio y no participamos en el negocio de la venta de la misma a terceros. Zona Delivery comparte la información de sus clientes sólo del modo descrito a continuación, con zonadelivery.com y con filiales bajo el control de zonadelivery.com, las cuales o bien están sujetas al presente Aviso de Privacidad o siguen unas prácticas al menos tan protectoras como las descritas en las presentes Políticas de Privacidad.
					</p>
					<p>
    <b>Empresas afiliadas que no están bajo nuestro control:</b> Trabajamos en estrecha colaboración con empresas afiliadas. En algunos casos, como en el de los vendedores Marketplace, estas sociedades operan sus propias tiendas en la página web de Zona Delivery, u ofrecen sus productos al cliente a través de Zona Delivery. En otros casos, es Zona Delivery quien opera las tiendas, ofrece servicios o vende líneas de producto conjuntamente o en nombre de esas empresas. El cliente siempre sabrá cuándo una tercera parte está implicada en sus transacciones. Zona Delivery comparte con dicha tercera parte los datos personales del cliente necesarios para la transacción.
	</p>
	<p>
    <b>Terceros proveedores de servicios:</b> Contratamos a otras sociedades y personas para realizar ciertas funciones en nuestro nombre. Algunas de las funciones que realizan pueden ser: ejecutar pedidos, enviar paquetes, enviar correos postales y electrónicos, eliminar información repetida de las listas de clientes, realizar análisis de datos, ofrecer asistencia de marketing, ofrecer resultados de búsquedas y enlaces (incluidos enlaces y listados de pago), procesar pagos de tarjetas de crédito y ofrecer servicio de atención al cliente. Tendrán acceso a la información personal necesaria para realizar sus funciones, pero no podrán utilizarla para otros fines. Además, deberán tratar la información personal de conformidad con el presente Aviso de Privacidad y la legislación aplicable en materia de protección de datos.
	</p>
	<p>
   <b>Ofertas promocionales:</b> En ciertos casos enviaremos ofertas en nombre de otras empresas a algunos clientes seleccionados de Zona Delivery. En estos casos, no facilitaremos su nombre ni su dirección a dichas empresas. Si no desea recibir dichas ofertas, le rogamos que ajuste sus suscripciones de e-mail y preferencias de notificación accediendo a Mi cuenta.
   </p>
   <p>
    <b>Transmisiones de sociedades:</b> A medida que desarrollamos nuestro negocio, podemos comprar o vender tiendas, filiales y unidades de negocio. En dichas transacciones, uno de los activos de las sociedades transferidas suele ser la información personal de los clientes; sin embargo, dicha información estará en todo caso sujeta a los compromisos adquiridos en los Avisos de Privacidad preexistentes (a menos, claro está, que el cliente lo autorice de otro modo). Por supuesto, en el improbable caso de que Zona Delivery o la mayor parte de sus activos sean adquiridos por un tercero, la información personal de los clientes sería uno de los activos transferidos.
	</p>
	<p>
    <b>Protección de Zona Delivery y Otros:</b> Divulgamos información personal y datos de cuentas de nuestros clientes cuando creemos que su divulgación es necesaria para el cumplimiento de la ley, para hacer cumplir o aplicar las Condiciones de Uso y Venta y otros acuerdos o para proteger los derechos, la propiedad o seguridad de Zona Delivery, sus usuarios o terceros. Lo anterior incluye el intercambio de información con otras sociedades y organizaciones para la protección contra el fraude y la reducción del riesgo de crédito. Obviamente, lo anterior no incluye vender, alquilar, compartir o revelar de otro modo información personal de clientes con fines comerciales de modo contrario a los compromisos adquiridos en el presente Aviso de Privacidad.
	</p>
	<p>
    <b>Con su consentimiento:</b> Aparte de lo establecido anteriormente, se le informará en el caso de que cualquier información sobre usted se ponga en conocimiento de terceras partes, al objeto de que tenga la oportunidad de decidir que no se comparta su información.
	</p>
	<p>
Siempre que transmitamos información personal a países situados fuera del Espacio Económico Europeo, nos aseguraremos, como queda establecido anteriormente, de que la información es transferida de acuerdo con este Aviso de Privacidad y conforme a lo permitido por las leyes aplicables en materia de protección de datos.
</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="faqs panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">¿Está a salvo mi información personal?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Trabajamos para proteger la seguridad de sus datos personales durante la transmisión utilizando Secure Sockets Layer software (SSL), que codifica la información que usted introduce.
    Al confirmar un pedido sólo revelamos los cuatro últimos dígitos de los números de sus tarjetas de crédito. Como es evidente, transmitimos el número completo de la tarjeta de crédito a la entidad de tarjetas de crédito correspondiente para el procesamiento del pedido.
    Contamos con sistemas de seguridad físicos, electrónicos y procedimentales en relación con la recogida, almacenamiento y divulgación de información personal del cliente. Nuestros procedimientos de seguridad implican que en ocasiones podamos solicitarle pruebas de identidad antes de facilitarle información confidencial.
    Es importante que se proteja contra el acceso no autorizado de terceros a su contraseña y a su ordenador. Compruebe que cierra su sesión al acabar siempre que esté utilizando un ordenador compartido.

Información sobre terceras partes anunciantes y enlaces a otras páginas web

Nuestra página web puede incluir publicidad de terceros y accesos a otras páginas web. Para obtener más información acerca de publicidad de terceros en Zona Delivery, incluyendo anuncios personalizados o basados en sus intereses, por favor lea nuestra política de Cookies y publicidad en Internet.
</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="faqs panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">¿A qué información tengo acceso?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Zona Delivery le da acceso a una gran cantidad de información sobre su cuenta y sus operaciones en Zona Delivery para que pueda ver y, en ciertos casos, actualizar, dicha información. Esta lista podrá variar a medida que nuestra página web se vaya desarrollando.</p>
                </div>
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="faqs panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">¿Qué opciones tengo?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Como le hemos indicado anteriormente, usted siempre tiene la posibilidad de elegir no ofrecer información, a pesar de que ésta pueda ser necesaria para realizar una compra o para utilizar algunas de las funciones como Mi cuenta, Lista de deseos, Opiniones de los clientes y Zona Delivery Premium.
					</p>
					<p>
    Podrá añadir o actualizar ciertos datos presentes en páginas como las de la sección ¿A qué información tengo acceso? Normalmente, cada vez que usted actualiza sus datos, guardamos una copia de la versión previa para nuestros archivos.<br/>
    Si no desea que le enviemos correos postales o electrónicos le rogamos que ajuste sus suscripciones de e-mail y preferencias de notificación accediendo a Mi cuenta. (Si usted no desea recibir las Condiciones de Uso y Venta y otros avisos legales, como por ejemplo el presente Aviso de Privacidad, los cuales regirán el uso que usted haga de Zona Delivery y los pedidos que realice en Zona Delivery, será su responsabilidad estar al tanto de las modificaciones que en las mismas sean incluidas).
    Si no desea que utilicemos su información personal para permitir a terceros que personalicen los anuncios que le mostramos en nuestra web, le rogamos que ajuste sus suscripciones de e-mail y preferencias de notificación.<br/>
    En la función Ayuda de la mayoría de los navegadores se indica cómo configurar su navegador para que no acepte cookies, para que le notifique cada vez que reciba una nueva cookie, o para desactivar todas las cookies. Además, puede deshabilitar o eliminar datos similares utilizados por las extensiones (add-on) de los navegadores, como las Flash Cookies, cambiando los ajustes de las extensiones o visitando la página web de su fabricante. Sin embargo, le recomendamos que deje habilitadas las cookies dada la posibilidad que le ofrecen de aprovechar muchas de las funciones esenciales de Zona Delivery. Por ejemplo, si rechaza o bloquea nuestras cookies, no podrá añadir artículos a su Cesta, acceder a la página de Finalizar el pedido ni usar ninguno de los productos o servicios de Zona Delivery que requieren que inicie su sesión.
</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="faqs panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">¿Está permitido el uso de Zona Delivery para los menores de edad?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Los menores de edad no están autorizados a comprar productos en Zona Delivery. Los productos para menores que vendemos deben ser adquiridos por adultos. Los menores de 18 años sólo podrán utilizar Zona Delivery bajo la supervisión de un padre o un tutor.
</p>
                </div>
            </div>
        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="faqs panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Avisos y revisiones</a>
		                </h4>
		            </div>
		            <div id="collapseEight" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p>Si tiene cualquier inquietud en relación con la privacidad de Zona Delivery, le rogamos nos envíe un correo electrónico detallando su consulta y nosotros trataremos de resolverla. Usted tiene el derecho de acceder, actualizar y cancelar sus datos, así como oponerse a su tratamiento. Puede ejercer estos derechos remitiéndonos un correo electrónico.
<br/>
Debido a la continua evolución de nuestras actividades, este Aviso de Privacidad y las Condiciones de Uso y Venta podrán igualmente modificarse. Podremos enviarle periódicamente recordatorios sobre nuestros avisos y condiciones a través del correo electrónico, a menos que haya seleccionado que no lo hagamos. No obstante, le recomendamos que visite nuestra página web frecuentemente para consultar los cambios más recientes. A menos que se indique lo contrario, nuestro Aviso de Privacidad actual será aplicable para toda la información que tratamos referente a usted y a su cuenta. De todos modos, somos fieles a nuestra palabra y en ningún caso modificaremos sustancialmente nuestras políticas ni prácticas para hacerlas menos eficaces en la protección de los datos personales de nuestros clientes recogidos en el pasado, sin el consentimiento previo de los clientes afectados.
<br/>
    Prácticas Relacionadas e Información
    Condiciones de Uso y Venta
    Recomendaciones para ti
    Páginas de ayuda
    Compras recientes
    Mi Perfil
    Pautas para publicar opiniones sobre productos
</p>
<p>
Ejemplos de información recopilada
</p>
<p>
<b>Información que usted nos facilita:</b> Usted nos facilita la mayor parte de la información al realizar búsquedas, compras, al colgar un comentario, al participar en un concurso o sorteo o al ponerse en contacto con nuestro servicio de atención al cliente. Por ejemplo, nos está facilitando información en los siguientes casos: cuando busca un producto, realiza un pedido a través de Zona Delivery o uno de nuestros vendedores, introduce información en Su Cuenta (puede que usted tenga más de una cuenta, si ha utilizado más de una dirección de correo electrónico en sus compras) o en Su Perfil; cuando se pone en contacto con nosotros por teléfono, por correo electrónico o a través de otro medio, cuando cumplimenta un cuestionario o un formulario de participación en un sorteo, cuando hace uso de nuestros servicios, crea Listas de Deseos o registros de regalos; cuando participa en Foros de Debate u otros servicios de la comunidad; o publica y evalúa Opiniones, especifica recordatorios de ocasiones especiales, y utiliza alertas de disponibilidad de nuestros productos como las Notificaciones de Disponibilidad de Compra. Al realizar las acciones anteriores, nos está dando información como: su nombre, dirección y número de teléfono, datos de su tarjeta de crédito, personas a las que se han enviados los artículos adquiridos (incluyendo direcciones postales y números de teléfono), nombres, números de teléfono y dirección postal de personas incluidas en las configuraciones de las listas, direcciones de correo electrónico de sus amigos u otras personas, contenido de las revisiones y correos electrónicos que nos envía, la descripción personal y la fotografía de Su Perfil y su información financiera.
</p>
<p>
<b>Información automática:</b> Estos son algunos ejemplos de la información que recogemos y analizamos: La dirección IP de Internet que utiliza para conectarse a Internet con su ordenador, nombre de usuario, dirección de correo electrónico y contraseña de su cuenta, información sobre su ordenador y su conexión a Internet y sobre la versión y tipo de su navegador; su configuración de zona horaria, los tipos y versiones de la conexión de su navegador el sistema operativo y plataforma que utiliza, historial de compras (en ocasiones reunimos información similar de varios clientes para crear aplicaciones como "lo Más Vendido"), el "historial de visitas" de páginas web (URL) desde, a través y hacia nuestra página web (incluyendo fecha y hora), número de cookie, productos que ha visitado o que ha buscado, y todo número de teléfono que haya utilizado para llamar a nuestro servicio de atención al cliente. También podemos utilizar datos del navegador tales como cookies, Flash cookies (también llamadas Objetos Locales Compartidos), o datos similares en ciertos lugares de nuestra página web para prevenir el fraude, entre otros propósitos. En sus visitas a la página web, podemos utilizar herramientas de software como JavaScript para medir y recoger la información de la sesión, incluyendo los tiempos de respuesta de la página, errores de descarga, duración de las visitas a ciertas páginas, información sobre la interacción con la página (clics de ratón, desplazamiento por la página o número de veces que pasa el ratón por encima de determinados ítems), y formas de salir de la página web. Asimismo, podremos también recabar información técnica que nos ayude a identificar su dispositivo con finalidades de análisis diagnóstico y prevención del fraude.
</p>
<p>
<b>Móvil:</b> La mayoría de dispositivos móviles proporcionan a los usuarios la posibilidad de desactivar los servicios de localización. Lo más probable es que dicha posibilidad se encuentre en el menú de configuración del dispositivo. Si tiene dudas acerca de cómo desactivar los servicios de localización de su dispositivo, le recomendamos que se ponga en contacto con su operador de servicios móviles o con el fabricante de su dispositivo.
</p>
<p>
<b>Información recabada de otras fuentes:</b> Estos son algunos ejemplos de la información que recogemos de otras fuentes: Información postal y de envíos actualizada que recogemos de las empresas de transporte o de otras terceras partes para corregir nuestros archivos y realizar la entrega de su próxima compra más fácilmente, información sobre su cuenta, sobre compras y devoluciones y sobre sus visitas a la página web, que recogemos de empresas con las que desarrollamos actividades conjuntas bajo la misma marca o a los que ofrecemos servicios técnicos, publicitarios o logísticos, entre otros: información sobre términos de búsqueda y resultados de las búsquedas realizadas a través de aplicaciones de búsqueda de Internet ofrecidas por nuestras filiales, Alexa Internet; enlaces y resultados de búsqueda, incluidos listados de pago (como los Enlaces Patrocinados); e información sobre el historial de crédito de las oficinas de crédito que utilizamos para prevenir y detectar el fraude y para ofrecer servicios de crédito y financieros a determinados clientes.

Ofertas bajo la misma marca y ofertas conjuntas: Ocasionalmente podremos ofrecer productos y servicios de manera conjunta o bajo la misma marca con otras sociedades.

Información a la que puede acceder: Algunos ejemplos de información a la que tiene acceso fácilmente desde Zona Delivery son: información actualizada sobre pedidos; información personal (incluyendo nombre, correo electrónico, contraseña, preferencias de comunicaciones y de publicidad personalizada, libreta de direcciones y preferencias); preferencias de pago (información sobre tarjetas de crédito, saldos de cupones regalo, tarjetas regalo o cheques regalo); preferencias de avisos por correo electrónico (incluyendo Alertas de Disponibilidad de Producto, Envíos, Recordatorios de Ocasiones Especiales, y boletines); Recomendaciones (incluyendo Recomendaciones Personales y Mejora tus Recomendaciones); listas de compra y registros de regalos (incluyendo Listas de Deseos y registros de Bebé y Boda); cuentas de Vendedor; y Su Perfil (incluyendo sus Críticas de productos, Recomendaciones, listas "Listmania", Recordatorios, perfil personal).
		</p>
		                </div>
		            </div>
		        </div>
    </div>
</div>
            </div>
				</div>
			</div>
		</div>
	</section>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="horarioModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">Horarios de Atención</h4>  
       </div>
       <div class="modal-body">
            
       </div>
    </div>
  </div>
</div>


{% endblock %}
  {% block javascripts %}
  {{ parent()}}

 {% endblock %} 
