% extends '::front/base_front.html.twig' %}

{% block container %}

<input type="hidden" name="check" id="check" value="{{ path('frontend_checkbarrio') }}">
	<section>
		<div class="container">
			<div class="row">
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Terminos y condiciones</h2>
						
	<div class="col-sm-12 ">
	<div class="skilss">Los siguientes términos de uso abarcan el uso del sistema Zona Delivery y de sus servicios ofrecidos; al utilizar nuestro sitio, usted acepta estos términos completamente siendo estos de carácter obligatorio. Si no está de acuerdo con estos términos de uso, alguna parte de ellos, o las políticas y principios que se adhieren, usted no debe utilizar nuestro sitio.

	Usted debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por referencia, previa su inscripción como usuario registrado en Zona Delivery.</div>
	</div>

	</div>
	</div>
	</div> <!-- row -->
	</div>
</section>

{% endblock %}
{% block javascripts %}

 
 {% endblock %} 
