{% extends '::front/base_front.html.twig' %}
{% block header %}
  <div style="width: 100%; height: 50px;"></div>                  
{% endblock %}

{% block container %}	
  
  <section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Su compra</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				
        
        
        <table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<th class="image" >Item</th>
							<th class="description">Descripción</th>
							<th class="price">Precio</th>
							<th class="quantity">Cantidad</th>
							<th class="total">Total</th>
							<th> </th>
						</tr>
					</thead>
					<tbody id="table-carrito">
						
           
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Resumen</h3>
				<p>Verifique su pedido y continue el proceso de compra.</p>
			</div>
			<div class="row">

					<div class="total_area">
						<ul>
							<li>SubTotal <span class="simpleCart_total"></span></li>
							<li>Extras <span>$2</span></li>
							<li>Costo de envio <span>Sin cargo</span></li>
							<li>Total <span>$61</span></li>
						</ul>

							<a class="btn btn-success check_out" href="">Continuar</a>
					</div>
				</div>
			</div>
		
	</section><!--/#do_action-->
{% endblock %}

{% block javascripts %}
  {{ parent()}}
 <script src="{{ asset("js/front/tablaCarrito.js") }}"></script>
 
 {% endblock %} 