{% extends '::front/base_front.html.twig' %}
{% block header %}
<header>
	<div style="width: 100%; height: 300px;"></div>

</header>

{% endblock %}

{% block container %}	
  
  <section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Su compra</li>
				</ol>
			</div>

      <div class="heading">
				<h3>Sus Pedidos</h3>
				<p>A continuación se detallan sus pedidos. Si ha realizado compras a diferentes comercios deberá realizar
           la aceptación de cada pedido por separado.</p>
			</div>
       <div id="pedidos">
       </div>
      
	</section><!--/#do_action-->
  
  
  <div class="modal fade" id="modalDireccion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
       Dirección de Entrega
      </div>
      <div class="modal-body">  
        <p>Ingrese la dirección a donde quiere recibir su pedido y verificaremos si el comercio llega a la zona</p>
        <input type="text" name="direccion" value="" placeholder="direccion" id="modalDireccion">
        <input type="hidden"  name="tienda" value="" id="modalTiendaId">
        <div id="modalMessage"> </div>
      </div>  
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="modalContinuar" data-url="{{ path('frontend_llega') }}">Continuar</button>
      </div>  
    </div>
  </div>
</div>

<div class="modal fade" id="modalComprar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
       COMPRAR
      </div>
      <div class="modal-body">  
        <p>El comercio llegá a su dirección. Si presiona comprar realizaremos su pedido.</p>
        
        <input type="hidden"  name="tienda" value="" id="comprarTiendaId">
        <div id="modalComprarMessage"> </div>
      </div>  
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="modalComprar" data-url="{{ path('frontend_pedido')}}">Comprar</button>
      </div>  
    </div>
  </div>
</div>
  
  
{% endblock %}

{% block javascripts %}
  {{ parent()}}
 <script src="{{ asset("js/front/tablaCarrito.js") }}"></script>
 
 {% endblock %} 