<div>
 <p>
 Hola {{ sucursalName }}
 </p>
 
 
 
  <p> Has recibido un pedido de {{ customerName }}. 
      Puedes ver el detalle del mismo en tu cuenta!   
  </p>
  
 <p>Saludos!</p>
 <p>{{ empresa }}</p>


</div>
