#tab, #tab2{
  margin-top: 20px;
}
#select2-backend_userbundle_usertype_birthday_year-container{
  width: 60px !important; 
}
.help-block, .error{
  color: #D74142 !important;
}
.boton_initial {

    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid #999;
    margin: 10px;
   
}