#tab, #tab2{
  margin-top: 20px;
}
#select2-backend_userbundle_usertype_birthday_year-container{
  width: 60px !important; 
}
.help-block, .error{
  color: #D74142 !important;
}
.boton_initial {

    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid #999;
    margin: 10px;
   
}

#backend_customerbundle_profiletype_birthday .select2-container{
  width: 80px !important;
}

.day {
    height: 25px;
}

#label {
    float: left;
    min-width: 80px; 
}

.hiddenRow {
    padding: 0 !important;
}

.cate-pill {
  background-color: #31B0D5;
}

.btnCate{
 margin-bottom: 10px;
}

.fa-5{
  font-size: 10em !important;
}