    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                       
                        <div class="address">
						<h2><span>ZONA</span> DELIVERY</h2>
					    <p>Todo el delivery en un solo lugar</p>
                        <img src="{{ asset("images/home/map.png")}}" alt="" />
                        </div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Politicas del Sitio</h3>
                        <ul>
                            <li>
                                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">Términos de Uso</a>
								
                            </li>
                            <li>
								<a href="#">Politica de Privacidad</a>
                            </li>
                            <li>
								<a href="#">Politica de Devoluciones</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>ACERCA DE NOSOTROS</h3>
                        <ul>
                            <li>
                                <a href="#">Información de la compañía</a>
                            </li>
                            <li>
                                <a href="#">Adhesión de Comercios</a>
                            </li>
                                                        
                        </ul>    
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Zona Delivery - Todos los derechos reservados
                    </div>
                </div>
            </div>
        </div>
    </footer>
