{% extends '::customer/loginBase.html.twig' %}
{% block container %}
     <!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Zona Delivery - Customer Administrador</h1>
      </div>
      <div class="modal-body">
           {% include '::messages.html.twig' %}
          <form class="form col-md-12 center-block" action="{{ path('customer_auth') }}" method="POST" id="formLogin" name="formLogin">
            <div class="form-group">
              <input type="text" id="formUsername" name="_username" value="{{ last_username }}" class="form-control input-lg" placeholder="Email">
              <div id='formLogin_username_errorloc' class="help-block error" ></div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Contraseña" id="formPassword" name="_password">
              <div id='formLogin_password_errorloc' class="help-block error" ></div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" type="submit" id="btn_login">Ingresar</button>
              
            </div>
            <input type="hidden" name="_target_path" value="customer_principal" />
          </form>
      </div>
      <div class="modal-footer">
      </div>
  </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
 {% javascripts '@BackendUserBundle/Resources/public/js/login_user.js' filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
