{% extends '::front/base_front.html.twig' %}

{% block container %}
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Ingresar a su cuenta</h2>
						<form action="#">
							<input type="email" placeholder="Email" />
							<input type="password" placeholder="Contrase単a" />
							<!--
							<span>
								<input type="checkbox" class="checkbox"> 
								Permanecer conectado
							</span>
							-->
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">O</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Crear un usuario</h2>
						<form action="#">
							<input type="text" placeholder="Nombre"/>
							<input type="email" placeholder="Email"/>
							<input type="password" placeholder="Contrase単a"/>
							<input type="password" placeholder="Repetir contrase単a"/>
							<span>
								<input type="checkbox" class="checkbox">多Es un comercio?
							</span>
							<span>
								<input type="checkbox" class="checkbox">Entiende y acepta los terminos y condiciones.
							</span>
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
{% endblock %}