
<div class="form-group">
        
        {{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
        <div class="col-xs-6">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            <span id='backend_adminbundle_categoria_name_errorloc' class="help-block"> {{ form_errors(form.name) }} </span>
        </div>
</div>