 <!-- Sidebar Menu Items  -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{{ path('customer_principal') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="{{ path('direccion') }}"><i class="fa fa-wa fa-map-marker"></i> Direcciones</a>
                    </li>                						 
                </ul>
            </div>